<!DOCTYPE html>
<html>
  <head>
    <title>Seguidores</title>
    <!-- <meta http-equiv="refresh" content="3; url=http://localhost:3000"> -->
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <main>
      
      <% for (let seguidor of seguidores){ %>
        <a href="/<%= seguidor.login %>">
          <img src="<%= seguidor.img %>" alt="<%= seguidor.login %>">
        </a>
      <% } %>
    </main>
  </body>
</html>
